<div class="header-auto">
	<div class="row">
		<div class="large-12 columns">
			<h2>Manage Projects</h2>
		</div>
	</div>
</div>
<div class="banner">
	<div class="row">
		<div class="large-5 columns">
			<div class="box">
				<form action="/project/create" method="POST" class="form-signin">
				  <h2 class="form-signin-heading">Add Project</h2>
				  <label>Name: </label><input type="text" class="form-control" placeholder="name" name="name">
				  <label>Technology: </label><input type="text" class="form-control" placeholder="ruby, python, javascript" name="technology">
				  <label>Start Date: </label><input type="text" class="form-control" placeholder="january 1, 2014" name="start_date">
				  <label>End Date: </label><input type="text" class="form-control" placeholder="december 31, 2014" name="end_date">
				  <br>
				  <input type="submit" class="button" value="Create"/>
				  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
				</form>
			</div>
		</div>
	</div>
</div>