<div class="header-auto">
	<div class="row">

		<% if (messages && messages['success']) { %>
		  <div class="success">
		  <% messages['success'].forEach(function(message) { %>
		    <%= message %>
		    <br>
		  <% }); %>
		  </div>
		  <br>
		<% } %>
		
		<h2>Administration Panel</h2>
	</div>
</div>

<div class="banner">
	<div class="row">
		<a href="/message/manage" class="tile"><i class="fi-mail large"></i>Messages</a>
		<a href="/project/manage" class="tile"><i class="fi-laptop large"></i>Projects</a>
		<a href="/blog/manage" class="tile"><i class="fi-pencil large"></i>Blog</a>
		<a href="/user/logout" class="tile"><i class="fi-torso large"></i>Logout</a>
	</div>
</div>