<div class="header">
	<div class="row">
		<div class="large-6 columns">
			<div class="homepage">
				<h1>Hi, I'm <font color="#3fbf79">Kevin Kao.</font></h1>
				<h4>EECS major at UC Berkeley.<br>Software Engineer.</h4>
				<h5>Thinker. Designer.</h5>
			</div>
			<br><br>
			<a href="/files/cv.pdf" target="_blank" class="button">CV</a>
			<a href="/files/resume.pdf" target="_blank" class="button">Resume</a>
			<a href="/blog" class="button">Blog</a>
		</div>
		<div class="large-6 columns about-wrapper">
			<p id="about">
			I'm an undergraduate EECS major at University of California, Berkeley. I love diving into thought-provoking and challenging projects - I've tackled several on my own and in teams. Some of my major interests include algorithms, machine learning, security, big data analysis, and general software development. 
			<br><br>
			My research involves working with large data dumps, organizing and parsing through the JSON/XML data to generate clean, queryable data and then provide a platform for which analytics and visualizations on these datasets can be shared.
			</p>
		</div>
	</div>
	<br>
	<br>
  	<div class="skills-row">
  		<div class="box1">Python<br><font class="sub">Flask</font></div>
		<div class="box2">Ruby<br><font class="sub">Rails, JRuby</font></div>
		<div class="box3">Java<br><font class="sub">JUnit, Ant</font></div>
  		<div class="box4">JavaScript<br><font class="sub">Node.js, Sails.js, D3.js</font></div>
		<div class="box5">UNIX<br><font class="sub">Monit, Bash</font></div>
		<div class="box6">UI<br><font class="sub">HTML, CSS</font></div>
		<div class="box7">Logging<br><font class="sub">Logstash, Kibana</font></div>
		<div class="box8">Databases<br><font class="sub">Redis, MySQL, HBase</font></div>
  	</div>
</div>


<div class="banner" id="home-banner">
	<div class="row">
		<div class="large-12 columns">
			<h4 style="display:block">Projects</h4>
			<% if (github == "error") { %>
				<font class="sm-text">Unable to retrieve Github information at this time | See the <a href="https://github.com/kk415kk/personal-website/commit/master">latest commit</a> here.
				</font>
			<% } else { %>
				<font class="sm-text">Latest Update on Github: <b><%=github.date%></b> | Commit
				<a href="<%=github.url%>"><%=github.sha%></a></font>
			<% } %>
		</div>
	</div>
</div>


<div class="row">
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-cloud la-ico"></i>
		</div>
		<br>
		<p>Extensive experience with developing RESTful APIs and web services, as well as full-scale web applications. Designed and built several APIs, services, and web applications on <a href="http://flask.pocoo.org/">Python Flask</a>, Node.js, and Ruby on Rails.</p>
	</div>
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-pencil la-ico"></i>
		</div>
		<br>
		<p>Developed numerous small and large-scale projects, from MapReduce algorithms to image metadata extractors to Pacman AI agents to RDBMS. Even UNIX, Python, C, and Ruby scripting doesn't escape me.</p>
	</div>
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-graph-pie la-ico"></i>
		</div>
		<br>
		<p>Piqued by the myriad insights to be gleaned from data through machine learning, data analysis, and data visualizations. A few projects here and there with <a href="http://hadoop.apache.org/docs/r1.2.1/mapred_tutorial.html">Hadoop MapReduce</a> and <a href="http://d3.js.org">D3.js</a>.</p>
	</div>
</div>