<div class="header">
	<div class="row">
		<div class="large-7 columns">
			<div class="homepage">
				<h1>Hi, I'm Kevin Kao.</h1>
				<h4>Software Engineer. EECS major at UC Berkeley.</h4>
				<h5>Thinker. Designer.</h5>
			</div>
		</div>
		<div class="large-5 columns about-wrapper">
			<p id="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<a href="/" class="button">Projects</a>
			<a href="/" class="button">Resume</a>
			<a href="/" class="button">Blog</a>
		</div>
	</div>
	<br>
	<br>
  	<div class="skills-row">
  		<div class="box1">Python<br><font class="sub">Flask</font></div>
		<div class="box2">Ruby<br><font class="sub">Rails</font></div>
		<div class="box3">Java<br><font class="sub">JUnit, Ant</font></div>
  		<div class="box4">JavaScript<br><font class="sub">Node.js, Sails.js</font></div>
		<div class="box5">UNIX<br><font class="sub">Monit, Bash</font></div>
		<div class="box6">UI<br><font class="sub">HTML, CSS</font></div>
		<div class="box7">Logging<br><font class="sub">Logstash, Kibana</font></div>
		<div class="box8">Databases<br><font class="sub">Redis, MySQL</font></div>
  	</div>
</div>


<div class="banner" id="home-banner">
	<div class="row">
		<div class="large-12 columns">
			<h4>Projects</h4>
			<font class="sm-text">Latest Update on Github: <b><%=github.date%></b> | Commit
			<a href="<%=github.url%>"><%=github.sha%></a></font>
		</div>
	</div>
</div>


<div class="row">
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-cloud la-ico"></i>
		</div>
		<br>
		<p>Experience with developing RESTful APIs and web services, as well as web applications built on Python Flask, Node.js, and Ruby on Rails.</p>
	</div>
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-pencil la-ico"></i>
		</div>
		<br>
		<p>Written several large-scale projects both in team settings and individually, from MapReduce data processing algorithms to Pacman AI agents and relational databases.</p>
	</div>
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-graph-pie la-ico"></i>
		</div>
		<br>
		<p>Piqued by the myriad insights to be gleaned from data through machine learning, data analysis, and data visualizations.</p>
	</div>
</div>