<div class="header">
	<div class="row">
		<div class="homepage">
			<h1>Hi, I'm Kevin Kao.</h1>
			<h4>Software Engineer. EECS major at UC Berkeley.</h4>
			<h5>Thinker. Designer.</h5>
		</div>
	</div>
	<br>
	<br>
  	<div class="skills-row">
  		<div class="box1">Python<br><font class="sub">Flask</font></div>
		<div class="box2">Ruby<br><font class="sub">Rails</font></div>
		<div class="box3">Java<br><font class="sub">JUnit, Ant</font></div>
  		<div class="box4">JavaScript<br><font class="sub">Node.js, Sails.js</font></div>
		<div class="box5">UNIX<br><font class="sub">Monit, Bash</font></div>
		<div class="box6">UI<br><font class="sub">HTML, CSS</font></div>
		<div class="box7">Logging<br><font class="sub">Logstash, Kibana</font></div>
		<div class="box8">Databases<br><font class="sub">Redis, MySQL</font></div>
  	</div>
</div>
<div class="banner" id="home-banner">
	<div class="row">
		<h4>Projects</h4>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-cloud la-ico"></i>
		</div>
		<br>
		<p>Experience with developing RESTful APIs and web services, as well as web applications built on Python Flask, Node.js, and Ruby on Rails.</p>
	</div>
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-pencil la-ico"></i>
		</div>
		<br>
		<p>Written several large-scale projects both in team settings and individually, from MapReduce data processing algorithm to Pacman AI agents and relational databases.</p>
	</div>
	<div class="large-4 columns">
		<div class="ico-header">
			<i class="fi-graph-pie la-ico"></i>
		</div>
		<br>
		<p>Piqued by the myriad insights to be gleaned from data through machine learning, data analysis, and data visualizations.</p>
	</div>
</div>