<div class="header-auto">
	<div class="row">
		<h2>Research</h2>
		<p class="transparent">I currently work as an undergraduate researcher and research assistant at University of California, Berkeley.</p>
	</div>
</div>

<div class="banner" id="research">
	<div class="row">
		<h4>UC Berkeley School of Information</h4>
		<p class="sm-text transparent">February 2014 - Present</p>
		<p class="transparent">
		I'm developing a full-scale web application to solve a widely unsolved problem of having a common platform to share data analytics among researchers with ease and efficiency. My project is guided by Professor Zachary Pardos, joint professor of the Graduate School of Information and the Graduate School of Education at UC Berkeley. I also collaborated with several other groups and individuals, such as UC Berkeley D-Lab, MOOCLab, CAS and Calnet team, and researchers at other institutions.
		</p>
		<p class="transparent">
		Some of my accomplishments include:
			<ul class="transparent">
				<li>Developed first set of open-source Python and UNIX scripts to allow researchers to fully utilize Stanford and Harvard data scrubbing scripts without spinning up OpenEdX instances or asking for proprietary code</li>
				<li>Created scaffold for research platform to share data visualizations and analytics</li>
			</ul>
		</p>
	</div>
	<br>
	<div class="row">
		<h4>UC Berkeley MOOCLab</h4>
		<p class="sm-text transparent">October 2012 - Present</p>
		<p class="transparent">I work under Professor Armando Fox, director of the UC Berkeley MOOCLab and software engineering professor. Some of my tasks include research into integration of LTI platforms to edX, such as Piazza. I developed an Amazon CloudFormation template to automate EC2 environment setup for users and secured the EC2 images from the Heartbleed OpenSSL bug. Currently, I'm working with a PhD student to perform item-factor analysis with machine learning tools such as Guacamole.</p>
	</div>
	<br>
	<br>
	<br>
</div>
<div class="row">
	<div class="large-12 columns">
	</div>
</div>