<div class="header-auto">
	<div class="row">
		<h2>Research</h2>
		<p class="transparent">I currently work as an undergraduate researcher and research assistant at University of California, Berkeley.</p>
	</div>
</div>

<div class="banner" id="research">
	<div class="row">
		<div class="large-8 columns">
			<div class="section">
				<h4>UC Berkeley School of Information</h4>
			</div>
			<p class="sm-text transparent">February 2014 - Present</p>
			<p class="semi-transparent">
			I'm developing a full-scale web application to solve a widely unsolved problem of having a common platform to share data analytics among researchers with ease and efficiency. My project is guided by <a href="http://www.ischool.berkeley.edu/people/faculty/zacharypardos" target="_blank">Professor Zachary Pardos</a>, joint professor of the Graduate School of Information and the Graduate School of Education at UC Berkeley. I also collaborated with several other groups and individuals, such as UC Berkeley D-Lab, MOOCLab, CAS and Calnet team, and researchers at other institutions. Essentially, one of the problems I'm tackling is the <a href="https://www.coursera.org/course/repdata" target="_blank">"reproducible research" problem</a>.
			<br>
			Some of my accomplishments include:
				<ul class="semi-transparent">
					<li>Developed first set of open-source Python and UNIX scripts to allow researchers to fully utilize Stanford and Harvard data scrubbing scripts without spinning up OpenEdX instances or asking for proprietary code</li>
					<li>Fully designed and developed a research platform to share data visualizations and analytics</li>
				</ul>
			</p>
			<p class="semi-transparent">
			Current features of my web platform include secure dataset downloads by a user permissions system, SSL, and CSRF-protection as well as data visualizations through D3.js and CAS authentication. Future goals include contributing to a C++ wrapper around Matlab for machine learning on datasets, possibly porting the code to Julia for distributed computing.
			</p>
		</div>
		<div class="large-4 columns">
			<ul class="clearing-thumbs small-block-grid-4" style="height:300px width:400px" data-clearing>
			  <li style="height:300px width:400px"><a href="/images/research_requests.png"><img data-caption="Data request system" src="/images/research_requests.png"></a></li>
			  <li style="height:300px width:400px"><a href="/images/research_visualizations.png"><img data-caption="Data visualizations" src="/images/research_visualizations.png"></a></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="section">
			<h4>UC Berkeley MOOCLab</h4>
		</div>
		<p class="sm-text transparent">October 2012 - Present</p>
		<p class="semi-transparent">I work under <a href="http://www.eecs.berkeley.edu/Faculty/Homepages/fox.html" target="_blank">Professor Armando Fox</a>, director of the UC Berkeley MOOCLab and software engineering professor. Some of my tasks include research into integration of LTI platforms to edX, such as Piazza. I developed an Amazon CloudFormation template to automate EC2 environment setup for users and secured the EC2 images from the Heartbleed OpenSSL bug. Currently, I'm working with a PhD student to perform item-factor analysis with machine learning tools such as Guacamole.</p>
	</div>
	<br>
	<br>
	<br>
</div>
<div class="row">
	<div class="large-12 columns">
	</div>
</div>